---
layout: layouts/kutuphane.njk
---

<h3 class="lang" key="elektrik"></h3>
<section id="portfolio" style="padding-top: 30px;">
    <div class="container" style="width: 100%; padding-left: 0;">
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;" data-wow-offset="50" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <a href="{{'/assets/teknik/docs/TY-7-ELEKTRIK-MOTORLARI.pdf' | url}}" target="_blank">
                    <img src="{{'/assets/teknik/elektrikmotorlarikapak.jpg' | url}}" class="img-responsive" alt="portfolio img 1">
                    <div class="portfolio-overlay"></div>
                </a>
            </div>
        </div>
    </div>
</section>