---
layout: layouts/kurumsal.njk
tags: about
---

<h3 class="lang" key="hakkimizda"></h3>
<p style="margin-bottom: 30px" class="lang" key="hakkimizda1"></p>
<p style="margin-bottom: 30px;" class="lang" key="hakkimizda2">
    Müşteri taleplerine kaliteli olduğu kadar ekonomik de çözümler sunan Rönesans Teknik, Yurt içi - Yurt dışı tüm kaynakları kullanarak en verimli hizmeti verebilmek adına çalışmalarını sürdürmektedir.
</p>
<p class="lang" key="hakkimizda3">
    Müşteri memnuniyetinde sürekliliği sağlamak için hizmet politikalarımızı sürekli güncellemekteyiz. Değişen ve gelişen piyasa taleplerine hızlı, ekonomik ve kaliteli bir şekilde cevap verebilmek için yenilikçi, öncü ve güvenilir olmaya devam edeceğiz.
</p>