---
layout: layouts/base.njk
---

<!-- start contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
                    <span class="lang" key="iletisim"></span>
                </h2>
            </div>
            <div class="col-md-12">
                <div class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s" id="oOutput"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <form form="form" enctype="multipart/form-data" method="post" name="iletisim_formu">
                    <label class="lang" key="adi"></label>
                    <input name="firstname" type="text" class="form-control" id="firstname" required="required" style="color: #000"/>

                    <label class="lang" key="email"></label>
                    <input name="email" type="email" class="form-control" id="email" required="required" style="color: #000"/>

                    <label class="lang" key="mesaj"></label>
                    <textarea name="message" rows="4" class="form-control" id="message" required="required" style="color: #000"></textarea>

                    <input type="submit" value="E-posta Gönder" class="form-control" id="submit_button"/>
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
                <address>
                    <p class="address-title lang" key="adres"></p>
                    <span>
                        <p>
                            {{sitedata.sitename}}
                        </p>
                        {{sitedata.adres}}
                    </span >
                    <!-- <p><i class="fa fa-phone"></i> 90-544-314-9568</p> -->
                    <p>
                        <i class="fa fa-envelope-o"></i>
                        <a href="mailto://{{sitedata.email}}">
                            {{sitedata.email}}
                        </a>

                    </p>
                    <p>
                        <i class="fa fa-phone"></i>
                        <a href="tel://{{sitedata.tel}}">
                            {{sitedata.tel}}
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        {{sitedata.adres}}
                    </p>
                </address>
            </div>
        </div>
    </div>
</section>
<!-- end contact -->

<!-- google-map-section -->
<section class="google-map-section">
    <div class="map-inner">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17071.10033168477!2d31.097745698028692!3d40.854913942256815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d9f827d4dbc7f%3A0xa48b0853f174926a!2zVGHFn2vDtnByw7wsIE1lcmtleiwgODExMDAgVGHFn2vDtnByw7wvRMO8emNlIE1lcmtlei9Ew7x6Y2U!5e0!3m2!1sen!2str!4v1611397295935!5m2!1sen!2str" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 100%;
                }
                .gmap_canvas {
                    overflow: hidden;
                    background: none!important;
                    height: 500px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</section>
<!-- google-map-section end -->

<script>
    var form = document
        .forms
        .namedItem("iletisim_formu");
        
    form.addEventListener("submit", function (ev) {
        debugger;
        var oOutput = document.querySelector("#oOutput"),
            oData = new FormData(form),
            button = document.querySelector("#submit_button"),
            email = document.querySelector("#email") && document.querySelector("#email").value || '',
            first = document.querySelector("#firstname") && document.querySelector("#firstname").value || '',
            last = document.querySelector("#lastname") && document.querySelector("#lastname").value || '',
            phone = document.querySelector("#phone") && document.querySelector("#phone").value || '',
            msg = document.querySelector("#message") && document.querySelector("#message").value || '';
        
        oOutput.innerHTML = "Lütfen Bekleyin E-posta Gönderiliyor...";
        button.disabled = true;
        setTimeout(() => {
            button.disabled = false;
        }, 10000);
        
        oData.delete("message");
        oData.append("subject", "İletişim Formu");
        oData.append("company", "optimalmakina");
        oData.append("message", 
        `${msg}
        ${first} ${last}
        ${email} ${phone}`);

        var oReq = new XMLHttpRequest();
        oReq.open("POST", "/send_mail", true);

        oReq.onload = function (oEvent) {
            if (oReq.status == 200) {
                oOutput.innerHTML = "E-posta Gönderildi";
            } else if (oReq.status == 400) {
                var msg = JSON.parse(oReq.response);
                oOutput.innerHTML = "Hata oluştu." + msg.message;
            } else if (oReq.status == 413) {
                oOutput.innerHTML = "Hata oluştu." + "Dosya boyutu çok büyük";
            } else {
                oOutput.innerHTML = "Hata oluştu.E-posta Gönderilemedi";
            }
        };
        oReq.send(oData);
        ev.preventDefault();
    }, false);
</script>