---
layout: layouts/faaliyet.njk
---

<h3 class="lang" key="kayis"></h3>
<section id="portfolio" style="padding-top: 30px;">
    <div class="container" style="width: 100%; padding-left: 0;">
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;" data-wow-offset="50" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <a href="{{'/assets/images/urunler/kayislar.jpg' | url}}" data-lightbox="images" data-title="">
                    <img src="{{'/assets/images/urunler/kayislar.jpg' | url}}" width="100%" alt=""/>
                    <div class="portfolio-overlay"></div>
                </a>
            </div>
        </div>
    </div>
</section>