---
layout: layouts/ik.njk
tags: about
---

<h3 class="lang" key="sosyal"></h3>
<section id="portfolio" style="padding-top: 30px;">
    <div class="container" style="width: 100%; padding-left: 0;">
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;" data-wow-offset="50" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
                <a href="{{'/assets/docs/COVID-19-tr.pdf' | url}}" target="_blank">
                    <img src="{{'/assets/images/covid-tr.jpeg' | url}}" class="img-responsive" alt="portfolio img 1">
                    <div class="portfolio-overlay"></div>
                </a>
            </div>
        </div>
    </div>
</section>