---
layout: layouts/base.njk
---

<section class="hero-wrap hero-wrap-2" style="height:300px; background-image: url('{{image | url}}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center" style="height:300px;">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">
                            <span class="lang" key="anasayfa">Anasayfa</span>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                    <span class="mr-2">
                        <a href="/hizmetlerimiz">
                            <span class="lang" key="urunlerimiz">Ürünlerimiz</span>
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </span>
                    <span>{{title}}</span>
                </p>
                <h1 class="mb-0 bread lang" key="urundetay">Ürün Detayı</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate py-md-5 mt-md-5">
                <h2 class="mb-3">{{title}}</h2>

                {{content | safe}}

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        {%- for etiket in etiketler -%}
                            <a href="#" class="tag-cloud-link" alt="tag" title="tag">{{etiket}}</a>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
            <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate pl-md-4 py-md-5">
                <div class="sidebar-box ftco-animate">
                    <h3 class="lang" key="urunlerimiz">Recent Blog</h3>
                    {% set urunler = collections.Urunler %}
                    {%- for item in urunler -%}
                        <div class="block-21 mb-4 d-flex">
                            <a href="{{item.url | url}}" class="blog-img mr-4" style="background-image: url({{item.data.image | url}});"></a>
                            <div class="text">
                                <h3 class="heading" style="line-height:1 !important">
                                    <a href="{{item.url | url}}" style="font-size:11px;">{{item.data.kisaozet}}</a>
                                </h3>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .section -->